@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100vh;
  margin: 0;
  background: rgb(44, 47, 59);
  background: -webkit-linear-gradient(
    to right,
    rgb(59, 34, 34),
    rgb(70, 54, 54),
    rgb(43, 32, 32)
  );
  background: linear-gradient(
    to right,
    rgb(61, 41, 38),
    rgb(65, 50, 50),
    rgb(78, 33, 33)
  );
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  margin: auto;
  width: 95%;
  height: 95vh;
  background: rgba(56, 52, 52, 0.479);
  border: 1px solid rgba(43, 10, 10, 0.7);
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 250px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  padding-left: 52px;
}

header {
  min-height: 15rem;
}

nav {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 52px;
  background-color: #222;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
}

nav:hover {
  width: var(--width);
}

nav .bar {
  background-color: #000000;
  color: antiquewhite;
  display: flex;
  justify-content: end;
}

nav .user {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 180px;
  transform: translateX(-300px);
  opacity: 0;
  width: var(--width);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav .user img {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

nav:hover .user {
  transform: translateX(0);
  opacity: 1;
}

nav .links a {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: var(--width);
  overflow: hidden;
}

nav .links button {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: var(--width);
  overflow: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

nav .links .icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 10px;
}

nav .links .icon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .links button:hover {
  background-color: rgb(55, 124, 184);
  color: #ffffff;
}

nav .links a:first-child {
  position: absolute;
  top: 20px;
  background: transparent;
  cursor: default;
  transition: opacity 0.3s ease;
}

nav:hover .links a:first-child {
  opacity: 0;
}

nav .links a:last-child {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
}

nav .links a:last-child:hover {
  background-color: rgb(173, 20, 20);
}

.cont-acc {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

img {
  width: 20%;
}

table {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.8s;
}

.cont-acc {
  display: none;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.create {
  width: 100%;
  height: 50%;
  padding: 20px;
  overflow: auto;
  overflow: hidden;
}

.create-h1 {
  text-align: center;
  color: white;
}

form {
  margin: 20px 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(48, 46, 46, 0.8);
  border-radius: 20px;
  padding-top: 20px;
}

.create-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  max-height: 25px;
  margin: 5px;
}

.create-input > span {
  color: white;
  font-weight: 600;
}

.create-input > input,
select {
  border-radius: 10px;
  width: 50%;
  padding: 9px 8px;
  border: none;
}

.create-input > input:focus {
  outline: red 2px solid;
}

.cont-guardar {
  display: flex;
  justify-content: center;
  width: 50%;
}

.read {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
  background: rgba(48, 46, 46, 0.8);
  color: white;
  border-radius: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  display: block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

thead {
  display: block;
  padding: 0 22px;
  background: rgba(27, 27, 27, 0.7);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

th,
td {
  width: 10%;
  padding: 20px 10px;
}

td {
  border-bottom: solid 1px rgba(80, 59, 59, 0.8);
}

td > img {
  width: 100%;
  border-radius: 10px;
}

tbody > tr:hover {
  background-color: #4d2222;
}

tbody {
  display: flex;
  flex-direction: column;
  height: 230px;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
}

tbody::-webkit-scrollbar {
  width: 7px;
  background: rgba(80, 59, 59, 0.5);
}

tbody::-webkit-scrollbar-thumb {
  background-color: rgb(34, 33, 33);
}

.btn {
  width: 80%;
  height: 35px;
  margin: 5px 0;
  background-color: rgba(71, 41, 41, 0.2);
  color: white;
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.guardar {
  max-width: 30%;
}

.guardar:hover {
  background-color: rgba(130, 221, 122, 0.5);
  border-radius: 20px;
  border: solid rgb(38, 78, 33) 1px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.editar,
.eliminar {
  width: 100%;
}

.editar:hover {
  background-color: rgba(255, 255, 0, 0.84);
  border-radius: 20px;
  border: solid rgb(38, 78, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.eliminar:hover {
  background-color: rgba(247, 69, 69, 0.5);
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.editar-eliminar {
  width: 12%;
}

.editar-eliminar > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
}
