@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html {
    min-height: 100vh;
    margin: 0;
    background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(
      to right,
      rgb(59, 34, 34),
      rgb(70, 54, 54),
      rgb(43, 32, 32)
    );
    background: linear-gradient(
      to right,
      rgb(61, 41, 38),
      rgb(65, 50, 50),
      rgb(78, 33, 33)
    );
  }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  margin: auto;
  width: 95%;
  height: 95vh;
  background: rgba(56, 52, 52, 0.479);
  border: 1px solid rgba(43, 10, 10, 0.7);
  border-radius: 20px;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.create {
  width: 100%;
  height: 50%;
  padding: 20px;
  overflow: auto;
  overflow: hidden;
}

.create-h1 {
  text-align: center;
  color: white;
}

form {
  margin: 20px 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(48, 46, 46, 0.8);
  border-radius: 20px;
  padding-top: 20px;
}

.create-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 45%;
  max-height: 25px;
  margin: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.466);
}

.create-input > span {
  color: white;
  font-weight: 600;
}

.create-input > input, select{
  border-radius: 10px;
  width: 50%;
}

.cont-guardar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.read {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

table {
  width: 80%;
  background: rgba(48, 46, 46, 0.8);
  color: white;
  border-radius: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  display: block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

thead {
  display: block;
  padding: 0 22px;
  background: rgba(27, 27, 27, 0.7);
  border-radius: 10px 10px 0 0;
  overflow: hidden;

}

th ,td {
  width: 10%;
  padding: 20px 10px;
}

td {
  border-bottom: solid 1px rgba(80, 59, 59, 0.8);;
}

tbody > tr:hover {
  background-color: #4d2222;

}


tbody {
  display: flex; /* Añadido */
  flex-direction: column;
  height: 230px; /* Movido de 'table' */
  overflow-y: auto; /* Añadido */
  padding: 10px;
  text-align: center;
}

tbody::-webkit-scrollbar {
  width: 7px;
  background: rgba(80, 59, 59, .5);
}

tbody::-webkit-scrollbar-thumb {
  background-color: rgb(34, 33, 33);
}

.btn {
  width: 80%;
  height: 25px;
  margin: 5px 0;
  background-color: rgba(71, 41, 41, 0.2);
  color: white;
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.guardar {
  width: 30%;
}

.guardar:hover {
  background-color: rgba(130, 221, 122, 0.5);
  border-radius: 20px;
  border: solid rgb(38, 78, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.editar:hover {
  background-color: rgba(130, 221, 122, 0.5);
  border-radius: 20px;
  border: solid rgb(38, 78, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.eliminar:hover {
  background-color: rgba(247, 69, 69, 0.5);
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}



