@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  min-height: 100vh;
  margin: 0;
  background: rgb(44, 47, 59);
  background: -webkit-linear-gradient(
    to right,
    rgb(59, 34, 34),
    rgb(70, 54, 54),
    rgb(43, 32, 32)
  );
  background: linear-gradient(
    to right,
    rgb(61, 41, 38),
    rgb(65, 50, 50),
    rgb(78, 33, 33)
  );
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

main {
  margin: auto;
  width: 95%;
  height: 95vh;
  background: rgba(56, 52, 52, 0.479);
  border: 1px solid rgba(43, 10, 10, 0.7);
  border-radius: 20px;
}

.create-h1 {
  text-align: center;
  color: white;
}

form {
  margin: 20px 0;
  width: 100%;
  height: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(48, 46, 46, 0.8);
  border-radius: 20px;
  padding-top: 20px;
}

.edit {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  overflow: hidden;
}

.edit-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  max-height: 40px;
  margin: 5px;
}

.edit-input:nth-child(7) {
  width: 29%;
  margin-left: 18px;
  margin-right: 15%;
  flex: 1;
}

.edit-input > input[type="number"],
input[type="text"],
select {
  height: 2rem;
}

.img-cont {
  border-radius: 15px;
}

.img-actual {
  height: 80px;
  border-radius: 15%;
  max-width: 180px;
  margin-top: -28px;
}

.span_img {
  margin-top: -17px;
}

#output_image {
    max-width: 40%;
}

.edit-input > span {
  color: white;
  font-weight: 600;
}

.edit-input > input,
select {
  border-radius: 10px;
  width: 50%;
  padding: 0 8px;
}

.cont-edit {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.btn {
  width: 40%;
  height: 35px;
  margin: 5px 0;
  background-color: rgba(71, 41, 41, 0.2);
  color: white;
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}

.btn-enviar {
  width: 40%;
  height: 35px;
  margin: 5px 0;
  background-color: rgba(71, 41, 41, 0.2);
  color: white;
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}

a {
  height: 100px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
}

.editar {
  width: 40%;
}

.editar:hover {
  background-color: rgba(130, 221, 122, 0.5);
  border-radius: 20px;
  border: solid rgb(38, 78, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.cancelar {
  width: 40%;
}

.cancelar:hover {
  background-color: rgba(247, 69, 69, 0.5);
  border-radius: 20px;
  border: solid rgb(78, 33, 33) 1px;
  transition: background-color 0.2s ease-in-out;
}

.btn-enviar:hover {
  background-color: #06ad2fab;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  form {
    justify-content: center;
    align-items: center;
  }

  .edit-input {
    width: 92%;
  }

  .edit-input:nth-child(7) {
    width: 75%;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between !important;
    flex: none;
    margin: 30px 0 7px 0;
  }
}

@media screen and (max-width: 400px) {
  .edit-input:nth-child(1) span {
    display: none;
  }
  .edit-input:nth-child(2) span {
    display: none;
  }
  .edit-input:nth-child(3) span {
    display: none;
  }
  .edit-input:nth-child(4) span {
    display: none;
  }
  .edit-input:nth-child(5) span {
    display: none;
  }
  .edit-input:nth-child(6) span {
    display: none;
  }
  .edit-input > input,
  select {
    border-radius: 10px;
    width: 90%;
    padding: 0 8px;
  }
  .edit-input:nth-child(7) {
    width: 75%;
  }
  .edit-input:nth-child(8) {
    margin-bottom: 1.8rem;
  }
  .edit-input:nth-child(8) span {
    margin-bottom: 1rem;
  }
  .cont-edit {
    justify-content: space-around;
    width: 100%;
  }
}
