<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/404.css" />
    <title>Page not found</title>
  </head>
  <body>
    <div class="app">
      <header class="app__header">
        <a class="app__header-link" href="/">Chat</a>
      </header>

      <main class="app__container">
        <div class="app__container-img">
          <img src="../static/img/pngwing.com.png" alt="Imagen de Error" />
        </div>

        <div class="app__container-text">
          <h2>Oops.</h2>
          <h3>No hemos podido encontrar la pagina.</h3>
          <p>
            Tal vez puedas encontrar lo que tu necesitas en nuestra pagina
            principal.
          </p>
          <div class="app__container-button">
            <a href="/">Return to Home</a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
