<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/logout" method="post">
      <input type="submit" value="Cerrar sesión" />
    </form>
    <form
      action="/admin/accesorios/add__acces"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="">Ingresa el nombre del accesorio</label>
      <input type="text" name="accesorio" id="" />
      <label for="">Ingresa la cantidad</label>
      <input type="number" name="cantidad" />
      <label for="">Ingresa el precio</label>
      <input type="number" name="precio" />
      <label for="">Ingresa la imagen</label>
      <input type="file" name="image" id="" />
      <input type="submit" value="Enviar" />
    </form>
    <div class="table">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Cantidad</td>
            <td>Precio</td>
            <td>Imagen</td>
          </tr>
        </thead>
        <tbody>
          {% for row in data_acce %}
          <tr>
            <td>{{row["id_accesorio"]}}</td>
            <td>{{row["accesorio"]}}</td>
            <td>{{row["cantidad"]}}</td>
            <td>{{row["precio"]}}</td>
            <td>
              <img
                src="{{ url_for('show_image2', id=row['id_accesorio']) }}"
                alt="Imagen del accesorio"
              />
            </td>
            <td>
              <a
                href="{{ url_for('delete_acces', id=row['id_accesorio']) }}"
                class="button__delete"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
