<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Admin.css" />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <nav>
        <header>
          <div class="user">
            <img src="../static/img/mb.jpg" alt="img" width="40" />
            <div class="name">Administrador</div>
          </div>
        </header>
        <div class="links">
          <a href="#">
            <div class="icon">
              <img src="../static/img/mb.jpg" alt="" />
            </div>
          </a>
          <button href="#" id="repuestosButton">
            <div class="icon">
              <img src="/static/img/options.svg" class="iconify-inline" />
            </div>
            <div class="title">Repuestos</div>
          </button>
          <button href="#" id="accesoriosButton">
            <div class="icon">
              <img src="/static/img/shapes.svg" class="iconify-inline" />
            </div>
            <div class="title">Accesorios</div>
          </button>
          <a href="/logout">
            <div class="icon">
              <img src="/static/img/alert.svg" class="iconify-inline" />
            </div>
            <div class="title">Cerrar Sesion</div>
          </a>
        </div>
      </nav>
      <div class="cont" id="repuestos">
        <div class="create">
          <div class="create-h1">
            <h1>Agrega un Repuesto</h1>
          </div>
          <form
            action="/admin/add"
            method="post"
            enctype="multipart/form-data"
            class="form-repuestos"
          >
            <input type="hidden" name="tipo" value="repuesto" />
            <div class="create-input">
              <span>Nombre:</span>
              <input
                type="text"
                name="name"
                placeholder="Ingresa el nombre del repuesto"
              />
            </div>
            <div class="create-input">
              <span>Marca:</span>
              <select name="marca" id="">
                <option value="">Selecciona una Marca</option>
                {% for marcas in marcas %}
                <option value="{{ marcas[0] }}">{{ marcas[0] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="create-input">
              <span>Modelo: </span>
              <select name="modelo" id="">
                <option value="">Selecciona un Modelo</option>
                {% for modelo in modelo %}
                <option value="{{ modelo[0] }}">{{ modelo[0] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="create-input">
              <span>Cilindraje: </span>
              <select name="cilindraje" id="">
                <option value="">Selecciona un Cilindraje</option>
                {% for cilindraje in cilindraje %}
                <option value="{{ cilindraje[0] }}">{{ cilindraje[0] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="create-input">
              <span>Cantidad: </span>
              <input
                type="number"
                name="cantidad"
                placeholder="Ingresa acá la cantidad del producto"
              />
            </div>
            <div class="create-input">
              <span>Precio: </span>
              <input
                type="number"
                name="precio"
                placeholder="Ingresa acá el precio"
              />
            </div>
            <div class="create-input">
              <span>Ingresa la imagen: </span>
              <img
                id="output_image"
                src="#"
                alt="Imagen del producto"
                style="display: none"
              />
              <input
                type="file"
                id="imagen"
                name="imagen"
                accept="image/*"
                onchange="previewImage(event)"
              />
            </div>
            <div class="cont-guardar">
              <input type="submit" value="Enviar" class="btn guardar" />
            </div>
          </form>
        </div>
        <div class="read">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cilindraje</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {% for row in list_products %}
              <tr>
                <td data-label="Nombre">{{row["repuestos"]}}</td>
                <td data-label="Marca">{{row["marcas"]}}</td>
                <td data-label="Modelo">{{row["modelo"]}}</td>
                <td data-label="Cilindraje">{{row["cilindraje"]}}</td>
                <td data-label="Cantidad">{{row["cantidad"]}}</td>
                <td data-label="Precio">{{row["precio"]}}</td>
                <td data-label="Imagen">
                  <img
                    src="{{ url_for('show_image', tipo='repuesto', id=row['id_repuestos']) }}"
                    alt="Imagen del repuesto"
                  />
                </td>
                <td class="editar-eliminar">
                  <a
                    href="/admin/edit/{{row['id_repuestos']}}"
                    class="btn editar"
                    >Editar</a
                  >
                  <a
                    href="{{ url_for('delete', tipo='repuesto', id=row['id_repuestos']) }}"
                    class="btn eliminar"
                    onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')"
                    >Eliminar</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="cont-acc" id="acc">
        <div class="create accc">
          <div class="create-h1">
            <h1>Agrega un Accesorio</h1>
          </div>
          <form
            action="/admin/add"
            method="post"
            enctype="multipart/form-data"
            class="form-accesorios"
          >
            <input type="hidden" name="tipo" value="accesorio" />
            <div class="create-input">
              <span>Nombre: </span>
              <input
                type="text"
                name="name"
                placeholder="Ingresa el nombre del accesorio"
              />
            </div>
            <div class="create-input">
              <span>Cantidad: </span>
              <input
                type="number"
                name="cantidad"
                placeholder="Ingresa acá la cantidad del producto"
              />
            </div>
            <div class="create-input">
              <span>Precio: </span>
              <input
                type="number"
                name="precio"
                placeholder="Ingresa acá el precio"
              />
            </div>
            <div class="create-input">
              <span>Imagen: </span>
              <input type="file" name="imagen" id="" />
            </div>
            <div class="cont-guardar">
              <input
                type="submit"
                value="Enviar"
                class="btn guardar guardar-acce"
              />
            </div>
          </form>
        </div>
        <div class="read acc">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {% for row in accesorios %}
              <tr>
                <td data-label="Nombre">{{row["accesorio"]}}</td>
                <td data-label="Cantidad">{{row["cantidad"]}}</td>
                <td data-label="Precio">{{row["precio"]}} COP</td>
                <td data-label="Imagen">
                  <img
                    src="{{ url_for('show_image', tipo='accesorio', id=row['id_accesorio']) }}"
                    alt="Imagen del accesorio"
                  />
                </td>
                <td class="editar-eliminar">
                  <a
                    href="/admin/editA/{{row['id_accesorio']}}"
                    class="btn editar"
                    >Editar</a
                  >
                  <a 
                  href="{{ url_for('delete', tipo='accesorio', id=row['id_accesorio']) }}" 
                  class="btn eliminar" 
                  onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="../static/js/Admin.js"></script>
  </body>
</html>
