<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    <header>
        <div class="header-cont">
            <div class="chat-cont-img"><img src="#" alt="imagen del chatbot" class="chat-img"></div>
            <div class="texto-header">
                <h1>Chat Bot </h1>
                <p>selecciona aquello que deseas conocer</p>
            </div>
        </div>
    </header>
    <body>
        <div class="contenedor-general-chat">
            <div class="entrada-user">
                <img src="#" alt="img del usario">
                <div class="contenedor-texto-user">
                    <p>Lorem ipsum dolor sit ametsdsdsdsdsd consectetur adipisicing elit. Adipisci fuga non ea odio culpa! Sequi, deleniti unde consequatur vero temporibus explicabo culpa assumenda delectus eum dolorem maiores quasi adipisci commodi.</p>
                </div>
            </div>
            <div class="entrada-bot">
                <img src="#" alt="img del chatbot">
                <div class="contenedor-texto-bot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fuga non ea odio culpa! Sequi, deleniti unde consequatur vero temporibus explicabo culpa assumenda delectus eum dolorem maiores quasi adipisci commodi.</p>
                </div>
            </div>
            <div class="op-entrada-cont">
                <button class="boton-op">option1</button>
                <button class="boton-op">option2</button>
                <button class="boton-op">option3</button>
                <button class="boton-op">option4</button>
                <button class="boton-op">option5</button>
                <button class="boton-op">prueba commit</button>
            </div>
        </div>
    </body>
</body>
</html>
