<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Página Principal de Soft-IA." />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\static\css\home.css" />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Soft-IA</title>
  </head>
  <body>
    <div class="app__container">
      <header id="header">
        <img src="/static/img/mb.jpg" alt="Logo de Moto Betel" class="logo" />
        <ul class="nav-bar">
          <li>
            <a href="interface">
              Entra al chat
              <img
                src="../static/img/arrow-right-short-white.svg"
                alt="Ir al chat"
              />
            </a>
          </li>
        </ul>
      </header>
      <main id="main">
        <div class="contenedor">
          <div class="contenedor-text">
            <div class="contenedor-saludo">
              <h1 id="saludo"></h1>
            </div>
            <p class="direccion">
              Moto repuestos Moto Betel inck es una tienda que provee productos
              de calidad, con precios accesibles, además de brindar conocimiento
              claro sobre los repuestos a la venta, por medio del excelente
              trato al cliente.
            </p>
            <p class="informacion-de-nosotros">
              Atención de Lunes a Viernes:<br />
              Mañana: 8:00am / 12:00pm<br />
              Tarde: 2:00pm / 6:00pm
            </p>
          </div>
          <div class="container__buton-2">
            <a class="button-main" href="interface">
              <img src="../static/img/chat-left-text-white.svg" alt="Entra" />
              Entra al chat
            </a>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <a href="login">Iniciar Sesion</a>
    </footer>
    <script src="/static/javascript/type.js"></script>
  </body>
</html>
