<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaz</title>
  </head>
  <body>
    <div class="container">
      <p id="chat">Chat: Elige una opcion</p>
    </div>

    <div class="container-buttons">
      <button
        type="submit"
        value="Repuestos"
        id="1"
        style="display: inline-block"
      >
        Repuestos
      </button>
      <button
        type="submit"
        value="Accesorios"
        id="2"
        style="display: inline-block"
      >
        Accesorios
      </button>
      <button
        type="submit"
        id="3"
        value="Sobre Nosotros"
        style="display: inline-block"
      >
        Sobre Nosotros
      </button>
    </div>

    <div class="container-buttons2">
      <button type="submit" value="Repuestos" id="4" style="display: none">
        Cilindraje
      </button>
      <button type="submit" value="Accesorios" id="5" style="display: none">
        Marcas
      </button>
      <button type="submit" value="Sobre Nosotros" id="6" style="display: none">
        Modelos
      </button>
    </div>

    <div id="premio" style="display: none">
      <p>Lista de Repuestos</p>
    </div>

    <script type="text/javascript">
      const contenedor = document.querySelector(".container");
      const boton1 = document.getElementById("1");
      const boton2 = document.getElementById("2");
      const boton3 = document.getElementById("3");
      const boton4 = document.getElementById("4");
      const boton5 = document.getElementById("5");
      const boton6 = document.getElementById("6");
      const chat = document.getElementById("chat");

      const data = {
        Accesorios: 'LoremIpsumAccesorio',
        Info: 'LoremIpsumInfo'
      }

      respuesta = document.createElement("P");
      contenedor.appendChild(respuesta);

      chat1 = document.createElement("P");
      contenedor.appendChild(chat1);

      chat2 = document.createElement("P");
      chat2.style.color = 'red'
      contenedor.appendChild(chat2);

      function mostrar(value) {
        document.getElementById("premio").style.display = "block";
        if (value === "Repuestos") {
          respuesta.innerHTML = `Yo: ${value}`;
          chat1.innerHTML = `Chat: ${value} es tu opcion seleccionada`;
          boton4.style.display = "inline-block";
          boton5.style.display = "inline-block";
          boton6.style.display = "inline-block";
        } else if (value === "Accesorios") {
          respuesta.innerHTML = `Yo: ${value}`;
          chat1.innerHTML = `Chat: ${value} es tu opcion seleccionada`;
          chat2.innerHTML = data.Accesorios
        } else if (value === "Sobre Nosotros") {
          respuesta.innerHTML = `Yo: ${value}`;
          chat1.innerHTML = `Chat: ${value} es tu opcion seleccionada`;
          chat2.innerHTML = data.Info
        }
      }

      boton1.addEventListener("click", () => {
        console.log(boton1.value);
        boton1.style.display = "none";
        boton2.style.display = "none";
        boton3.style.display = "none";
        mostrar(boton1.value);
      });

      boton2.addEventListener("click", () => {
        console.log(boton2.value);
        boton1.style.display = "none";
        boton2.style.display = "none";
        boton3.style.display = "none";
        mostrar(boton2.value);
      });

      boton3.addEventListener("click", () => {
        console.log(boton3.value);
        boton1.style.display = "none";
        boton2.style.display = "none";
        boton3.style.display = "none";
        mostrar(boton3.value);
      });
    </script>
  </body>
</html>
