<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Servicio de Chatbot de Moto Betel." />
    <title>Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/chat.css" />
  </head>
  <body>
    <main class="app">
      <div class="container2">
        <div class="container-row">
          <div class="chat">
            <div class="card">
              <div class="card-header msg_head">
                <div class="card-header--flex">
                  <div class="header-info">
                    <div class="img_cont">
                      <img
                        src="../static/img/icons8-chatgpt-512.png"
                        class="user_img"
                        alt="Imagen Principal del Chat"
                      />
                      <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                      <span>Soft-IA</span>
                      <p>ChatBot de Moto Betel</p>
                    </div>
                  </div>
                  <button
                    class="boton-reset"
                    id="reload"
                    onclick="location.reload()"
                  >
                    <img
                      src="/static/img/reload.svg"
                      class="reload"
                      alt="reload"
                    />
                    <div class="boton-reset--text">
                      <span>Empezar de nuevo</span>
                    </div>
                  </button>
                </div>
              </div>

              <div id="messageFormeight" class="msg_card_body">
                <div class="bubblemsg">
                  <p class="msg" id="chat">Selecciona la opción que desees</p>
                </div>

                <div id="r1" class="bubblemsg right"></div>
                <div id="r1a" class="bubblemsg"></div>

                <div id="r2" class="bubblemsg right"></div>
                <div id="r2a" class="bubblemsg"></div>

                <div class="Select__container select-1">
                  <select name="cilindraje" id="cilindraje-select">
                    <option value="#">Elige un cilindraje</option>
                    {% for cilindraje in cilindraje %}
                    <option value="{{ cilindraje[0] }}">
                      {{ cilindraje[0] }}
                    </option>
                    {% endfor %}
                  </select>
                  <button
                    type="submit"
                    class="btn-select Filtrar"
                    id="cilindraje-filter"
                  >
                    Filtrar
                  </button>
                  <button type="reset" class="btn-select reset">Limpiar</button>
                </div>

                <div class="Select__container select-2">
                  <select name="marca" id="marca-select">
                    <option value="#">Elige una Marca</option>
                    {% for marcas in marcas %}
                    <option value="{{ marcas[0] }}">{{ marcas[0] }}</option>
                    {% endfor %}
                  </select>
                  <button
                    type="submit"
                    class="btn-select Filtrar"
                    id="marca-filter"
                  >
                    Filtrar
                  </button>
                  <button type="reset" class="btn-select reset">Limpiar</button>
                </div>

                <div class="Select__container select-3">
                  <select name="modelo" id="modelo-select">
                    <option value="#">Elige un Modelo</option>
                    {% for modelo in modelo %}
                    <option value="{{ modelo[0] }}">{{ modelo[0] }}</option>
                    {% endfor %}
                  </select>
                  <button
                    type="submit"
                    class="btn-select Filtrar"
                    id="modelo-filter"
                  >
                    Filtrar
                  </button>
                  <button type="reset" class="btn-select reset">Limpiar</button>
                </div>

                <section id="catalogo" class="catalogo">
                  {% for row in list_products %}
                  <article class="producto">
                    <div class="img">
                      <img
                        src="{{ url_for('show_image', tipo='repuesto', id=row['id_repuestos']) }}"
                        alt="Imagen del repuesto"
                      />
                    </div>
                    <div class="producto-inf">
                      <p>Nombre: <span>{{row["repuestos"]}}</span></p>
                      <p>Marca: <span>{{row["marcas"]}}</span></p>
                      <p>Modelo: <span>{{row["modelo"]}}</span></p>
                      <p>Cilindraje: <span>{{row["cilindraje"]}}</span></p>
                      <p>Cantidad: <span>{{row["cantidad"]}}</span></p>
                      <p>Precio: $<span>{{row["precio"]}}</span></p>
                    </div>
                    <div class="product-btn">
                      <div class="boton-whatsapp">
                        <div class="boton-whatsapp--icon">
                          <img src="/static/img/whatsapp.svg" alt="maps" />
                        </div>
                        <div class="boton-whatsapp--text">
                          <a href="https://web.whatsapp.com/" target="_blank"
                            >Ir a WhatsApp</a
                          >
                        </div>
                      </div>
                    </div>
                  </article>
                  {% endfor %}
                </section>

                <section id="sobre-nosotros" class="sobre-nosotros">
                  <div class="sobre-nosotros--header">
                    <div class="img logo_about">
                      <img src="/static/img/mb.jpg" alt="logo" />
                    </div>
                    <div class="mb">
                      <h1>
                        Moto
                        <p>Betel</p>
                        <span>inck</span>
                      </h1>
                    </div>
                  </div>
                  <div class="sobre-nosotros--text">
                    <div class="sobre-nosotros--left">
                      <p>Horarios de atención:</p>
                      <p>
                        Lunes a Viernes:<br />
                        8:00am / 12:00pm <br />
                        2:00pm / 6:00pm
                      </p>
                    </div>
                    <div class="sobre-nosotros--right">
                      <p>Número de Contacto:</p>
                      <p>+58 416-9752291</p>
                    </div>
                    <div class="sobre-nosotros--ubicacion">
                      <p>Ubicación:</p>
                      <img src="/static/img/motobetel.jpg" alt="Moto Betel" />
                      <button
                        class="boton-ubi"
                        style="display: block; opacity: 1"
                      >
                        <div class="boton-ubi--text">
                          <a
                            href="https://www.google.com/maps/place/Moto+Betel/@8.0307406,-72.2563954,15z/data=!4m6!3m5!1s0x8e6661a2585f9d41:0x4da6aef2e21831d9!8m2!3d8.0307406!4d-72.2563954!16s%2Fg%2F11jh6mtzs0?entry=ttu"
                            target="_blank"
                            >Ir a Google Maps</a
                          >
                        </div>
                      </button>
                    </div>
                  </div>
                </section>

                <section id="catalogo-acc" class="catalogoacc">
                  {% for row in accesorios %}
                  <article class="producto">
                    <div class="img">
                      <img
                        src="{{ url_for('show_image', tipo='accesorio', id=row['id_accesorio']) }}"
                        alt="Imagen del accesorio"
                      />
                    </div>
                    <div class="producto-inf">
                      <p>Nombre: <span>{{row["accesorio"]}}</span></p>
                      <p>Cantidad: <span>{{row["cantidad"]}}</span></p>
                      <p>Precio: $<span>{{row["precio"]}}</span></p>
                    </div>
                    <div class="product-btn">
                      <div class="boton-whatsapp">
                        <div class="boton-whatsapp--icon">
                          <img src="/static/img/whatsapp.svg" alt="maps" />
                        </div>
                        <div class="boton-whatsapp--text">
                          <a href="https://web.whatsapp.com/" target="_blank"
                            >Ir a WhatsApp</a
                          >
                        </div>
                      </div>
                    </div>
                  </article>
                  {% endfor %}
                </section>
              </div>

              <div class="card-footer">
                <button
                  type="submit"
                  value="repuestos"
                  id="1"
                  style="display: inline-block"
                  class="options"
                >
                  Repuestos
                </button>
                <button class="options" type="submit" value="accesorios" id="2">
                  Accesorios
                </button>
                <button class="options" type="submit" id="3" value="Contactos">
                  Contactos
                </button>

                <button
                  class="options"
                  type="submit"
                  value="Cilindraje"
                  id="4"
                  style="display: none"
                >
                  Cilindraje
                </button>
                <button
                  class="options"
                  type="submit"
                  value="marca"
                  id="5"
                  style="display: none"
                >
                  Marcas
                </button>
                <button
                  class="options"
                  type="submit"
                  value="modelo"
                  id="6"
                  style="display: none"
                >
                  Modelos
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="../static/javascript/interface.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
